@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'ubuntu';
}

header{
    padding: 22px;
}

h1{
    color: #9c6623;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: #9c6623;
    transition: 0.5s;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

.secao-1{
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    background-image: url(img/site-psicologo.jpg);
}

.home{
    margin-right: 50%;
    overflow-wrap: break-word;
    margin-left: 35px;
    font-weight: 300;
}

.home h2{
    text-transform: uppercase;
    font-weight: 800;
}

.home img{
    width: 230px;
}

.agenda{
    display: flex;
    text-align: center;
}

.agenda button{
    margin: 20px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 4vh;
    font-size: 18px;
    font-weight: 400;
    background-color: #9c6623;
    color: white;
    transition: 0.5s;
}

.agenda button:hover{
    transform: translateY(-10px);
}
